<!DOCTYPE html>
<html>
<head>
  <title>FinancialGPT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <header>
    <h1>FinancialGPT</h1>
  </header>
  
  <main>
    
    <section id="prediction-section">
      <h2>Banking Information</h2>
      <div id="prediction-container">


        <form action="/" method = "post" id="prediction-form">
          <input type="text" id="stock-symbol" placeholder = "Please enter a question" name="animal" required>
          <button type="submit" value = "Generate names">Generate</button>
        </form>
        {% if result %}
        <div id="prediction-result" class = "result"> {{result}} </div>
      </div>
      {% endif %}
    </section>

    <section id="comparison-section">
      <h2>Comparison</h2>
      <div id="comparison-container">
        <table id="stock-table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ATM</td>
              <td>$150.00</td>
            </tr>
            <tr>
              <td>Depsoit</td>
              <td>$155.75</td>
            </tr>
            <tr>
              <td>Loan</td>
              <td>$160.20</td>
            </tr>
            <tr>
              <td>Purchases</td>
              <td>$160.20</td>
            </tr>
            <tr>
              <td>Transfer</td>
              <td>$160.20</td>
            </tr>
            <tr>
              <td>Widthdrawal</td>
              <td>$160.20</td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2023 Financial Analysis App</p>
  </footer>
  
  <script src="script.js"></script>
</body>
</html>
