<!DOCTYPE html>
<html>
<head>
  <title>FinancialGPT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <header>
    <h1>FinancialGPT</h1>
  </header>
  
  <main>
    
    <section id="prediction-section">
      <h1 class = "greeting">Good afternoon, {{nickname}}</h1>
      <h2>Financial Guidance</h2>
      <div id="prediction-container">
        <form method="post" action="{{ url_for('openaifunc') }}" id="prediction-form">
          <input type="text" id="stock-symbol" placeholder="Please enter your financial situation" name="human" required>
          <button type="submit" value="Generate names">Generate</button>
        </form>    
        <div id="loading-text"></div> <!-- Placeholder for "generating..." text -->
        {% if result %}
        <div id="prediction-result" class="result">{{ result }}</div>
        {% endif %}
      </div>
    </section>
    

    <section id="comparison-section">
      <h2>Bank Details</h2>
      <div id="comparison-container">
        <table id="stock-table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Balance</td>
              <td>${{balance}}</td>
            </tr>
            <tr>
              <td>Loan Information</td>
              <td>${{loans}}</td>
            </tr>
            <tr>
              <td>Debt Amount</td>
              <td>${{debt}}</td>
            </tr>
            <tr>
              <td>Bills Information</td>
              <td>{{bills}}</td>
            </tr>
            <tr>
              <td>Credit Score</td>
              <td>{{creditscore}}</td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2023 FinancialGPT</p>
  </footer>
  
  <script src="script.js"></script>
<script>
  document.getElementById("prediction-form").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent form submission

    // Display "Generating..." text
    document.getElementById("loading-text").innerText = "Generating...";

    // Delay form submission to allow the text to be displayed
    setTimeout(function() {
      event.target.submit(); // Submit the form after a delay
    }, 500); // Adjust the delay time if needed
  });
</script>

  
</body>
</html>
