<!DOCTYPE html>
<html>
<head>
  <title>FinancialGPT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" />
</head>

<body>

<div class="box">
    <h1 class="text">ATM Maps</h1>
    <p class="text">Address: {{ address }}</p>
    <p class="text">Radius: {{ radius }}</p>
    
    <h2 class="text">Top 3 ATMs:</h2>
    <ol>
        <div class="bubble">
            <li>{{ atm1 }}</li>
            <ul>
                <li>Longitude: {{ long1 }}</li>
                <li>Latitude: {{ lat1 }}</li>
            </ul>
            <a class="button" href="{{ link1 }}">Get Directions</a>
        </div>
        <div class="bubble">
            <li>{{ atm2 }}</li>
            <ul>
                <li>Longitude: {{ long2 }}</li>
                <li>Latitude: {{ lat2 }}</li>
            </ul>
            <a class="button" href="{{ link2 }}">Get Directions</a>
        </div>
        <div class="bubble">
            <li>{{ atm3 }}</li>
            <ul>
                <li>Longitude: {{ long3 }}</li>
                <li>Latitude: {{ lat3 }}</li>
            </ul>
            <a class="button" href="{{ link3 }}">Get Directions</a>
        </div>
    </ol>
</div>
</body>