<!DOCTYPE html>
<html>
<head>
    <title>ATM Maps</title>
</head>
<body>
    <h1>ATM Maps</h1>
    <p>Address: {{ address }}</p>
    <p>Radius: {{ radius }}</p>
    
    <h2>Top 3 ATMs:</h2>
    <ol>
        <li>{{ atm1 }}</li>
        <ul>
            <li>Longitude: {{ long1 }}</li>
            <li>Latitude: {{ lat1 }}</li>
        </ul>
        <li>{{ atm2 }}</li>
        <ul>
            <li>Longitude: {{ long2 }}</li>
            <li>Latitude: {{ lat2 }}</li>
        </ul>
        <li>{{ atm3 }}</li>
        <ul>
            <li>Longitude: {{ long3 }}</li>
            <li>Latitude: {{ lat3 }}</li>
        </ul>
    </ol>
</body>
</html>
